{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Excursio.com</title>
{% endblock %}


{% block content %}
	{#TOP FILTER#}
	<div class="top-filter">
		<div class="top-filter__container container">
			<h1 class="top-filter__title">
				Заказ экскурсий по всему миру
				<span class="top-filter__title-span">просто и удобно!</span>
			</h1>

			<div class="top-filter__form">
				<form action="">
					<div class="top-filter__form-container">
						<div class="top-filter__form-main">
							{#NAME#}
							<div class="top-filter__form-input-holder top-filter__form-input-holder--name">
								<input
								       class="top-filter__form-input"
								       placeholder="Название города, экскурсии или имя гида"
								       tabindex="1"
								       type="text"
								       id="search-input"
								/>
								<div id="search-results-container"></div>
							</div>
							{#/NAME#}

							<div class="top-filter__form-bottom">
								{#DATE#}
								<div class="top-filter__form-input-holder top-filter__form-input-holder--date" id="top-filter-datepicker-wrap">
									<input type="text"
									       class="top-filter__form-input"
									       placeholder="Дата экскурсии"
									       id="top-filter-datepicker"
									       data-language='ru'
									       data-multiple-dates="10"
									       data-multiple-dates-separator=", "
									       tabindex="2"
									/>
								</div>
								{#/DATE#}

								{#COUNT#}
								<div class="top-filter__form-count-holder" id="people-count-wrap">
									<div class="top-filter__form-count" tabindex="3" id="people-count-result">
										<span class="top-filter__form-count-span" id="form-adults-count">1</span>
										<span class="top-filter__form-count-span" id="form-adults-text">взрослый</span>
										<span class="top-filter__form-count-span" id="form-children-count">0</span>
										<span class="top-filter__form-count-span" id="form-children-text">детей</span>
									</div>

									{#PEOPLE#}
									<div class="people-count" id="people-count">
										<div class="people-count__item js-people-count-item" data-id="adult">
											<p class="people-count__item-title">Взрослые</p>
											<div class="people-count__main">
												<a href="#" class="people-count__minus" id="adults-minus" tabindex="5"></a>
												<span class="people-count__count-itself" id="adults-people-count">1</span>
												<a href="#" class="people-count__plus" id="adults-plus" tabindex="4"></a>
											</div>
										</div>

										<div class="people-count__item js-people-count-item" data-id="child">
											<p class="people-count__item-title">Дети до 12 лет</p>
											<div class="people-count__main">
												<a href="#" class="people-count__minus" id="children-minus" tabindex="7"></a>
												<span class="people-count__count-itself" id="children-people-count">0</span>
												<a href="#" class="people-count__plus" id="children-plus" tabindex="6"></a>
											</div>
										</div>
									</div>
									{#/PEOPLE#}
								</div>
								{#/COUNT#}
							</div>
						</div>

						<div class="top-filter__form-submit-holder">
							<button class="top-filter__form-submit" tabindex="8">Найти</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{#/TOP FILTER#}

	{#POPULAR CITIES#}
	<div class="popular-cities">
		<div class="popular-cities__container container">
			<div class="popular-cities__title">Популярные города</div>

			<div class="popular-cities__list" id="popular-cities-list">
				{% for item in cities %}
					{#CITY#}
					<div class="city-item js-city-item">
						<div class="city-item__img-wrap">
							<picture data-src="{{ item.img }}"
							         class="city-item__picture lazy-picture"
							         data-object-fit="cover"
							>
								<data-src srcset="{{ item.imgDesktop }}" media="(min-width: 1024px)" type="image/jpeg"></data-src>
								<data-src srcset="{{ item.img }}" media="(min-width: 768px)" type="image/jpeg"></data-src>
								<data-img src="{{ item.img }}" alt="" class="city-item__picture-img"></data-img>
							</picture>
						</div>

						<div class="city-item__text-wrap">
							<div class="city-item__name-wrap">
								<a href="#" class="city-item__name">{{ item.name }}</a>
							</div>
							<p class="city-item__country">{{ item.country }}</p>

							<div class="city-item__excursions-list">
								{% for excursion in item.excursion %}
									<a href="#" class="city-item__excursions-item">
										<span class="city-item__excursions-item-count">{{ excursion.count }}</span>
										<span class="city-item__excursions-item-title">{{ excursion.title }}</span>
									</a>
								{% endfor %}
							</div>

							<div class="city-item__link-wrap">
								<a href="#" class="city-item__link">Посмотреть все</a>
							</div>
						</div>

						<a href="#" class="city-item__card-link"></a>
					</div>
					{#CITY#}
				{% endfor %}
			</div>
			<div class="popular-cities__link-wrap">
				<a href="#"
				   class="popular-cities__link btn"
				   id="popular-cities-show-more"
				   data-text-show="Показать еще"
				   data-text-hide="Скрыть"
				>
					Показать еще
				</a>
			</div>
		</div>
	</div>
	{#/POPULAR CITIES#}

	{#ABOUT#}
	<div class="about">
		<div class="about__container container">
			<p class="about__title">Об EXCURSIO</p>
			<div class="about__desc">Это проверенная база экскурсий с профессиональными экскурсоводами, которые сделают Ваш отдых не забываемым</div>

			<div class="about__list">
				{% for item in about %}
					<div class="about__item about__item_{{ item.modifier }}">
						<div class="about__item-top">
							<i class="about__item-icon"></i>
							<div class="about__item-title">{{ item.title }}</div>
						</div>
						<div class="about__item-desc">{{ item.desc }}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{#/ABOUT#}

	{#DIRECTIONS#}
	<div class="directions">
		<div class="directions__container container">
			<div class="directions__title">Все направления для путешествий и экскурсий</div>
			<div class="directions__list" id="directions-list">
				{% for item in directions %}
					<div class="directions__item js-directions-item">
						<a href="#" class="directions__item-link">{{ item.title }}</a>
					</div>
				{% endfor %}
			</div>
			<div class="directions__link-wrap">
				<a href="#"
				   class="directions__link btn"
				   id="directions-show-more"
				   data-text-show="Показать еще"
				   data-text-hide="Скрыть"
				>Показать еще</a>
			</div>
		</div>
	</div>
	{#/DIRECTIONS#}

	{#TESTIMONIALS#}
	<div class="testimonials">
		<div class="testimonials__container container">
			<p class="testimonials__title">Свежие отзывы</p>
			<p class="testimonials__desc">Мы заботимся о качестве экскурсий и стараемся сделать их еще лучше, благодаря Вашим отзывам</p>

			<div class="testimonials__main">

				{#TABS#}
				<div class="testimonials__tabs">
					<p class="testimonials__tabs-item">Отзывы на сайте</p>

					<div class="testimonials__external-links">
						<a href="#"
						   target="_blank"
						   class="testimonials__external-links-item"
						>
							<img src="img/icon-yandex.svg"
							     alt=""
							     class="testimonials__external-links-item-icon"
							/>
							<span class="testimonials__external-links-item-text">Яндекс отзывы</span>
						</a>

						<a href="#"
						   target="_blank"
						   class="testimonials__external-links-item"
						>
							<img src="img/icon-yell.svg"
							     alt=""
							     class="testimonials__external-links-item-icon"
							/>
							<span class="testimonials__external-links-item-text">Yell отзывы</span>
						</a>

						<a href="#"
						   target="_blank"
						   class="testimonials__external-links-item"
						>
							<img src="img/icon-otzovik.svg"
							     alt=""
							     class="testimonials__external-links-item-icon"
							/>
							<span class="testimonials__external-links-item-text">Отзовик</span>
						</a>
					</div>
				</div>
				{#/TABS#}

				{#CONTENT#}
				<div class="testimonials__content">
					<div class="testimonials__content-slider swiper-container js-swiper-container">
						<div class="testimonials__content-slider-wrap swiper-wrapper">
							{% for item in testimonials %}
								{#TESTIMONIAL ITEM#}
								<div class="swiper-slide">
									<div class="testimonial">
										<p class="testimonial__name">{{ item.name }}</p>
										<div class="testimonial__title-wrap">
											<a href="#" class="testimonial__title">
												<span class="testimonial__title-text">{{ item.title }}</span>
											</a>
										</div>
										<div class="testimonial__desc js-testimonial-desc">{{ item.desc }}</div>
										<p class="testimonial__date">Дата экскурсии: {{ item.date }}</p>
									</div>
								</div>
								{#/TESTIMONIAL ITEM#}
							{% endfor %}
						</div>
						<div class="testimonials__content-slider-pagination"></div>
						<div class="testimonials__content-slider-arrow testimonials__content-slider-arrow--prev"></div>
						<div class="testimonials__content-slider-arrow testimonials__content-slider-arrow--next"></div>
					</div>
				</div>
				{#/CONTENT#}

				<div class="testimonials__external-links">
					<a href="#"
					   target="_blank"
					   class="testimonials__external-links-item"
					>
						<img src="img/icon-yandex.svg"
						     alt=""
						     class="testimonials__external-links-item-icon"
						/>
						<span class="testimonials__external-links-item-text">Яндекс отзывы</span>
					</a>

					<a href="#"
					   target="_blank"
					   class="testimonials__external-links-item"
					>
						<img src="img/icon-yell.svg"
						     alt=""
						     class="testimonials__external-links-item-icon"
						/>
						<span class="testimonials__external-links-item-text">Yell отзывы</span>
					</a>

					<a href="#"
					   target="_blank"
					   class="testimonials__external-links-item"
					>
						<img src="img/icon-otzovik.svg"
						     alt=""
						     class="testimonials__external-links-item-icon"
						/>
						<span class="testimonials__external-links-item-text">Отзовик</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	{#/TESTIMONIALS#}
{% endblock %}
