{#FOOTER#}
<footer class="footer">
	<div class="footer__main container">
		<a href="#" class="footer__logo">
			<img src="img/logo.svg" alt="" class="footer__logo-img">
		</a>

		<nav class="footer__nav">
			<div class="footer__nav-item">
				<a href="#" class="footer__nav-item-link">Все города и страны</a>
			</div>
			<div class="footer__nav-item">
				<a href="#" class="footer__nav-item-link">Контакты</a>
			</div>
			<div class="footer__nav-item">
				<a href="#" class="footer__nav-item-link">Пользовательское соглашение</a>
			</div>
		</nav>
	</div>

	<div class="footer__bottom container">
		<p class="footer__rights">© 2018. Все права защищены</p>
		<div class="footer__development">
			<p class="footer__development-text">Дизайн и разработка</p>
			<a href="#" class="footer__development-link">idem.agency</a>
		</div>
	</div>
</footer>
{#/FOOTER#}