{#HEADER#}
<header class="header">
	<div class="header__container">
		{#LOGO#}
		<a href="#" class="header__logo-wrap">
			<img src="img/logo-light.svg" alt="" class="header__logo">
		</a>
		{#/LOGO#}

		{#NAV#}
		<nav class="header__nav">
			<div class="header__currency">
				<p class="header__currency-text">Валюта:</p>
				<div class="header__currency-select-wrap js-currency-trigger">
					<div class="header__currency-select js-currency-chosen">
						<p class="header__currency-select-abbr js-currency-chosen-abbr"></p>
						<p class="header__currency-select-text js-currency-chosen-text">В валюте страны</p>
					</div>
					{#CURRENCY DEOPDOWN#}
					<div class="currency-dropdown js-currency-dropdown">
						<div class="currency-dropdown__list">
							{% for item in currency %}
							<a href="#" class="currency-dropdown__item js-currency-item">
								<span class="currency-dropdown__item-abbr js-currency-item-abbr">{{ item.abbr }}</span>
								<span class="currency-dropdown__item-text js-currency-item-text">{{ item.title }}</span>
							</a>
							{% endfor %}
						</div>
					</div>
					{#/CURRENCY DEOPDOWN#}
				</div>
			</div>

			<a href="#" class="header__favorite">
				<i class="header__favorite-icon"></i>
				<span class="header__favorite-text">Избранное</span>
			</a>

			<a href="#" class="header__login">Войти/Зарегистрироваться</a>
		</nav>
		{#/NAV#}

		{#BURGER#}
		<a href="#" class="header__burger" id="header-burger">
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
			<span class="header__burger-line"></span>
		</a>
		{#/BURGER#}
	</div>
</header>
{#/HEADER#}