<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	{% block title %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<style>
		body {
			opacity: 0;
		}
	</style>

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<meta name="msapplication-TileColor" content="#02b02a">
	<meta name="theme-color" content="#ffffff">
</head>

<body>

<div class="all-wrap" id="all-wrap">

	{% block header %}
		{% include 'parts/header.twig' %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block footer %}
		{% include 'parts/footer.twig' %}
	{% endblock %}

	{% block menu %}
		{% include 'parts/mobile-menu.twig' %}
	{% endblock %}

</div>

<!-- uncache -->
<link rel="stylesheet" href="css/main.css">
<!-- enduncache -->

{% block scripts %}
<!-- uncache -->
<script src="scripts/app.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.2.5/polyfill.min.js"></script>
<!-- enduncache -->
{% endblock %}

</body>
</html>