{#MOBILE MENU#}
<div class="mobile-menu" id="mobile-menu">
	<div class="mobile-menu__inner">
		<div class="mobile-menu__top">
			<div class="mobile-menu__currency js-currency-trigger">
				<div class="mobile-menu__currency-select js-currency-chosen">
					<p class="mobile-menu__currency-select-abbr js-currency-chosen-abbr"></p>
					<p class="mobile-menu__currency-select-text js-currency-chosen-text">В валюте страны</p>
				</div>
				{#CURRENCY DEOPDOWN#}
				<div class="currency-dropdown js-currency-dropdown">
					<div class="currency-dropdown__list">
						{% for item in currency %}
							<a href="#" class="currency-dropdown__item js-currency-item">
								<span class="currency-dropdown__item-abbr js-currency-item-abbr">{{ item.abbr }}</span>
								<span class="currency-dropdown__item-text js-currency-item-text">{{ item.title }}</span>
							</a>
						{% endfor %}
					</div>
				</div>
				{#/CURRENCY DEOPDOWN#}
			</div>

			<a  href="#" class="mobile-menu__favorite">
				<i class="mobile-menu__favorite-icon"></i>
				<span class="mobile-menu__favorite-text">Избранное</span>
			</a>

			<a href="#" class="mobile-menu__login">
				<i class="mobile-menu__login-icon"></i>
				<span class="mobile-menu__login-text">Войти/Зарегистрироваться</span>
			</a>
		</div>

		<div class="mobile-menu__bottom">
			<nav class="mobile-menu__nav">
				<a href="#" class="mobile-menu__nav-item">Гиды</a>
				<a href="#" class="mobile-menu__nav-item">Все города и страны</a>
				<a href="#" class="mobile-menu__nav-item">Экскурсии</a>
				<a href="#" class="mobile-menu__nav-item">Контакты</a>
			</nav>
		</div>
	</div>
</div>
{#/MOBILE MENU#}