.btn {
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: #02B02A;
	cursor: pointer;
	position: relative;
	height: 40px;
	padding: 0 30px;

	color: white;
	font-size: 16px;
	.regular();

	text-decoration: none;
	overflow: hidden;

	-webkit-appearance: none;
}
