@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic-ext');

@font-face {
	font-family: 'intro-bold';
	src: url('../fonts/INTRO-BOLD.eot');
	src: local('☺'), url('../fonts/INTRO-BOLD.ttf') format('truetype'), url('../fonts/INTRO-BOLD.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.regular() {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.medium() {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.intro() {
	font-family: 'intro-bold', sans-serif;
}