.svg-icon(@icon, @width, @height) {
	background: svg('@{icon}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.svg-icon-param(@icon, @width, @height, @param) {
	background: svg('@{icon}', '@{param}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.title() {
	font-size: 26px;
	color: #212121;
	.intro();
	text-align: left;

	@media screen and (min-width: 375px) {
		font-size: 32px;
	}

	@media screen and (min-width: 768px) {
		font-size: 34px;
	}
}

