.currency-dropdown {
	position: absolute;
	top: -33px;
	left: -23px;
	min-width: 240px;
	background: white;
	padding: 74px 30px 30px 30px;
	opacity: 0;
	visibility: hidden;
	z-index: 90;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
	.mobile-menu & {
		top: 0;
		right: 0;
		left: 0;
	}

	&.open{
		opacity: 1;
		visibility: visible;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 22px;
		text-decoration: none;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item-abbr {
		color: #C4C4C4;
		font-size: 14px;
		.regular();
		letter-spacing: -0.3px;
		margin-right: 5px;
		&:empty {
			margin-right: 0;
		}
	}
	&__item-text {
		color: #212121;
		font-size: 14px;
		.regular();
		letter-spacing: -0.3px;
	}
}