.footer {
	background: #F8F9F9;

	&__main {
		padding-top: 50px;
		padding-bottom: 50px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 20px;
			right: 20px;
			height: 1px;
			background: rgba(224, 227, 229, 0.2);
		}
	}
	&__logo {
		display: block;
		width: 156px;
		min-width: 156px;
		height: 23px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
	&__logo-img {
		max-width: 100%;
		max-height: 100%;
	}
	&__nav {

	}
	&__nav-item {
		margin-bottom: 29px;
		text-align: center;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__nav-item-link {
		color: #212121;
		text-decoration: none;
		font-size: 14px;
		letter-spacing: -0.3px;
		.regular();
		.no-touchevents & {
			&:hover {
				text-decoration: underline;
			}
		}

	}


	&__bottom {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	&__rights {
		color: #999999;
		.regular();
		margin-bottom: 30px;
		text-align: center;
		font-size: 14px;
		letter-spacing: -0.3px;
	}
	&__development {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__development-text {
		color: #999999;
		.regular();
		font-size: 14px;
		letter-spacing: -0.3px;
		margin-right: 5px;
	}
	&__development-link {
		font-size: 14px;
		letter-spacing: -0.3px;
		.regular();
		color: #02B02A;
		text-decoration: none;
	}
}

@media screen and (min-width: 768px) {
	.footer {

		&__main {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 39px;
			padding-top: 47px;
			&:after {
				left: 26px;
				right: 26px;
			}
		}

		&__logo {
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 0;
		}
		&__nav {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: calc(~"100% - 123px");
		}
		&__nav-item {
			margin-bottom: 0;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
		&__nav-item-link {
			font-size: 14px;
			letter-spacing: -0.3px;
		}

		&__bottom {
			padding-top: 18px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__rights {
			margin-bottom: 0;
		}
	}
}

@media screen and (min-width: 1440px) {
	.footer {
		&__main {

			&:after {
				left: 0;
				right: 0;
			}
		}
	}
}