.header  {
	background: #02B02A;
	box-shadow: 0px 4px 20px rgba(56, 124, 163, 0.2);

	&__container {
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
	}

	&__logo-wrap {
		width: 166px;
		height: 21px;
		text-decoration: none;
	}
	&__logo {
		width: 100%;
		height: 100%;
	}
	&__nav {
		display: none;
	}

	&__burger {
		width: 26px;
		height: 14px;
		position: relative;
		text-decoration: none;
		&.open-menu {
			z-index: 1000;
		}
	}
	&__burger-line {
		background: #BAFF97;
		height: 2px;
		position: absolute;
		left: 0;
		right: 0;
		transition: all .3s ease;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 6px;
		}
		&:last-child {
			top: 12px;
		}

		.header__burger.open-menu & {
			background: #02B02A;
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 6px;
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:last-child {
				transform: rotate(-45deg);
				top: 6px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.header  {

		&__container {
			padding: 0 25px;
			height: 80px;
		}


		&__nav {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		&__currency {
			display: flex;
			align-items: center;
			margin-right: 20px;

		}
		&__currency-text {
			color: #BAFF97;
			font-size: 14px;
			.regular();
			letter-spacing: -0.3px;
			margin-right: 6px;
		}
		&__currency-select-wrap {
			position: relative;
			padding-right: 20px;
			cursor: pointer;
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 4px;
				transition: all .3s ease;
				.svg-icon-param(icon-form-caret, 10px, 6px, "[fill]: #ffffff");
			}
			&:hover {
				&:after {
					.svg-icon-param(icon-form-caret, 10px, 6px, "[fill]: #BAFF97");
				}
			}
			&.open {
				&:after {
					z-index: 100;
					transform: rotate(180deg);
				}
			}
		}
		&__currency-select {
			display: flex;
			align-items: center;
			position: relative;
			.header__currency-select-wrap.open & {
				z-index: 100;
			}
		}
		&__currency-select-abbr {
			color: #C4C4C4;
			font-size: 14px;
			.regular();
			letter-spacing: -0.3px;
			margin-right: 5px;
			&:empty {
				margin-right: 0;
			}
			.header__currency-select-wrap:hover & {
				color: #BAFF97;
			}
		}
		&__currency-select-text {
			color: white;
			font-size: 14px;
			.regular();
			letter-spacing: -0.3px;
			.header__currency-select-wrap:hover & {
				color: #BAFF97;
			}
			.header__currency-select-wrap.open & {
				color: #212121;
			}
		}

		&__favorite {
			text-decoration: none;
			display: flex;
			margin-right: 20px;
		}
		&__favorite-icon {
			.svg-icon(icon-heart, 18px, 16px);
		}
		&__favorite-text {
			display: none;
		}

		&__login {
			height: 40px;
			padding: 0 23px;
			display: flex;
			align-items: center;
			text-decoration: none;
			border: 1px solid white;
			color: #F3FBF3;
			font-size: 14px;
			.regular();
			letter-spacing: -0.3px;
			transition: all .3s ease;
			.no-touchevents & {
				&:hover {
					background: white;
					color: #02B02A;
				}
			}
		}

		&__burger {
			display: none;
		}

	}
}

@media screen and (min-width: 1024px) {
	.header {

		&__container {
			padding: 0 40px;
		}
		&__favorite-icon {
			margin-right: 5px;
		}
		&__favorite-text {
			display: block;
			color: white;
			font-size: 14px;
			.regular();
			letter-spacing: -0.3px;
			transition: all .3s ease;
			.no-touchevents & {
				&:hover {
					color: #BAFF97;
				}
			}
		}
	}
}


