.mobile-menu {
	width: 270px;
	background: white;
	position: fixed;
	//height: 100vh;
	right: -270px;
	top: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	transition: all .3s ease;
	overflow: auto;
	overflow-x: hidden;
	&.open {
		display: block;
		right: 0;
		opacity: 1;
		visibility: visible;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100vh;
		overflow-y: scroll;
		padding-top: 60px;
	}
	&__top {

	}
	&__currency {
		border-top: 1px solid #E0E3E5;
		position: relative;
		padding-right: 25px;
		cursor: pointer;
		height: 60px;
		display: flex;
		align-items: center;
		padding-left: 25px;
		&:after {
			content: '';
			position: absolute;
			right: 25px;
			top: 50%;
			margin-top: -3px;
			transition: all .3s ease;
			.svg-icon(icon-form-caret, 11px, 6px);
		}
		&.open {
			&:after {
				z-index: 100;
				transform: rotate(180deg);
			}
		}
	}
	&__currency-select {
		display: flex;
		align-items: center;
		position: relative;
		.mobile-menu__currency.open & {
			z-index: 100;
		}
	}
	&__currency-select-abbr {
		color: #C4C4C4;
		font-size: 14px;
		.regular();
		letter-spacing: -0.3px;
		margin-right: 5px;
		&:empty {
			margin-right: 0;
		}
	}
	&__currency-select-text {
		font-size: 14px;
		letter-spacing: -0.3px;
		.regular();
		color: #212121;
	}
	&__favorite {
		border-top: 1px solid #E0E3E5;
		text-decoration: none;
		height: 60px;
		display: flex;
		align-items: center;
		padding: 0 23px;
	}
	&__favorite-icon {
		.svg-icon-param(icon-heart, 18px, 15px, "[fill]: #02B02A");
		margin-right: 9px;
	}
	&__favorite-text {
		font-size: 14px;
		letter-spacing: -0.3px;
		.regular();
		color: #212121;
	}

	&__login {
		border-top: 1px solid #E0E3E5;
		text-decoration: none;
		height: 60px;
		display: flex;
		align-items: center;
		padding: 0 23px;
	}
	&__login-icon {
		.svg-icon(icon-login, 14px, 16px);
		margin-right: 9px;
	}
	&__login-text {
		font-size: 14px;
		letter-spacing: -0.3px;
		.regular();
		color: #212121;
	}

	&__bottom {

	}
	&__nav {

	}
	&__nav-item {
		display: flex;
		align-items: center;
		border-top: 1px solid #E0E3E5;
		height: 60px;
		font-size: 20px;
		.intro();
		color: #212121;
		text-decoration: none;
		padding: 0 24px;
	}
}