.people-count {
	background: white;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
	position: absolute;
	top: 64px;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	//transition: all .3s ease;
	-webkit-transform: translateY(8px);
	transform: translateY(8px);
	transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
	transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
	transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
	&.open {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translate(0);
		transform: translate(0);
		transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
		transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
		transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
	}

	&__item {
		padding: 17px 20px 10px 20px;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		&:last-child {
			padding: 10px 20px 17px 20px;
		}
	}
	&__item-title {
		color: #212121;
		.medium();
		font-size: 14px;
		letter-spacing: -0.3px;
	}
	&__main {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__minus {
		border: 1px solid #E0E3E5;
		padding: 0;
		cursor: pointer;
		-webkit-appearance: none;
		background: white;
		width: 24px;
		height: 24px;
		min-width: 24px;
		margin-right: 16px;
		position: relative;
		text-decoration: none;
		transition: all .3s ease;
		&:after {
			content: '';
			position: absolute;
			width: 6px;
			height: 2px;
			background: #C4C4C4;
			top: 50%;
			left: 50%;
			margin-top: -1px;
			margin-left: -3px;
			transition: all .3s ease;
		}
		.no-touchevents & {
			&:hover {
				border-color: #02B02A;
				&:after {
					background: #02B02A;
				}
			}
		}
	}
	&__count-itself {
		margin-right: 16px;
		color: #212121;
		.medium();
		font-size: 14px;
		letter-spacing: -0.3px;
	}
	&__plus {
		border: 1px solid #E0E3E5;
		padding: 0;
		cursor: pointer;
		-webkit-appearance: none;
		background: white;
		width: 24px;
		height: 24px;
		min-width: 24px;
		position: relative;
		text-decoration: none;
		transition: all .3s ease;
		&:after {
			content: '';
			position: absolute;
			width: 8px;
			height: 2px;
			background: #C4C4C4;
			top: 50%;
			left: 50%;
			margin-top: -1px;
			margin-left: -4px;
			transition: all .3s ease;
		}
		&:before {
			content: '';
			position: absolute;
			width: 2px;
			height: 8px;
			background: #C4C4C4;
			top: 50%;
			left: 50%;
			margin-top: -4px;
			margin-left: -1px;
			transition: all .3s ease;
		}
		.no-touchevents & {
			&:hover {
				border-color: #02B02A;
				&:after {
					background: #02B02A;
				}
				&:before {
					background: #02B02A;
				}
			}
		}
	}
}