#search-results-container {
	position: absolute;
	right: 0;
	left: 0;
	top: 64px;
	z-index: 100;
	width: 100%;
}

.search {

	// Suggestions
	&__suggestions {
		background: white;
		box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
	}
	&__suggestion {
		padding: 8px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		&:hover {
			background: #F3FBF3;
		}
	}
	&__suggestion-highlight {
		.medium();
		font-size: 14px;
		text-decoration: none;
		color: #02B02A;
	}


	&__suggestion-wrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 5px;
	}

	&__suggestion-name {
		margin-right: 5px;
		font-size: 14px;
		color: #212121;
		.medium();
		text-transform: capitalize;
		&:after {
			content: ',';
			font-size: 14px;
			color: #212121;
			.medium();
		}
	}
	&__suggestion-province {
		color: #212121;
		.regular();
		font-size: 14px;
		margin-right: 5px;
		&:after {
			content: ',';
			font-size: 14px;
			color: #212121;
			.medium();
		}
	}
	&__suggestion-country {
		color: #212121;
		.regular();
		font-size: 14px;
	}

	&__suggestion-excursions {
		font-size: 13px;
		.regular();
		color: #02B02A;
	}

}

@media screen and (min-width: 768px) {
	.search {

		&__suggestion {
			padding: 8px 30px;
			display: flex;
			align-items: center;
		}
		&__suggestion-wrap {
			flex-wrap: nowrap;
			margin-bottom: 0;
			margin-right: 10px;
		}
	}
}
