.about {
	background: #F8F9F9;
	padding: 50px 0;
	margin-bottom: 60px;

	&__container {

	}
	&__title {
		.title();
		margin-bottom: 30px;
	}
	&__desc {
		font-size: 15px;
		color: #212121;
		.regular();
		line-height: 1.3;
		margin-bottom: 20px;
	}
	&__list {

	}
	&__item {
		background: white;
		padding: 30px 25px 30px 30px;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item-top {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}
	&__item-title {
		.intro();
		text-transform: uppercase;
		font-size: 18px;
	}
	&__item-icon {
		margin-right: 12px;

		.about__item_time & {
			.svg-icon(icon-time, 28px, 28px);
			min-width: 28px;
		}
		.about__item_quality & {
			.svg-icon(icon-quality, 26px, 27px);
			min-width: 26px;
		}
		.about__item_payment & {
			.svg-icon(icon-money, 28px, 27px);
			min-width: 28px;
		}
	}
	&__item-desc {
		color: #212121;
		font-size: 14px;
		line-height: 1.3;
	}
}

@media screen and (min-width: 1200px) {
	.about {
		padding: 75px 0;

		&__title {
			margin-bottom: 27px;
		}
		&__desc {
			margin-bottom: 40px;
		}
		&__list {
			display: flex;
		}
		&__item {
			width: calc(~"(100% - 20px * 2) / 3");
			margin-right: 20px;
			padding: 40px 40px 35px 40px;
			margin-bottom: 0;
			&:last-child {
				margin-right: 0;
			}
		}
		&__item-top {
			display: block;
			margin-bottom: 12px;
		}
		&__item-title {
			text-align: center;
			text-transform: none;
			font-size: 20px;
		}
		&__item-icon {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 22px;

			.about__item_time & {
				.svg-icon(icon-time, 40px, 40px);
				min-width: 40px;
			}
			.about__item_quality & {
				.svg-icon(icon-quality, 40px, 40px);
				min-width: 40px;
			}
			.about__item_payment & {
				.svg-icon(icon-money, 40px, 40px);
				min-width: 40px;
			}
		}
		&__item-desc {
			text-align: center;
			line-height: 1.5;
		}
	}
}