.city-item {
	border: 1px solid #E0E3E5;
	margin-bottom: 20px;
	border-radius: 4px 4px 0 0;
	overflow: hidden;
	position: relative;
	transition: all .3s ease;
	&:hover {
		background: #F1FCF3;
	}

	&__img-wrap {
		min-height: 210px;
	}
	&__picture {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
	}
	&__picture-img {
		width: 100%;
		max-width: 100%;
		height: 100%;
		min-height: 210px;
		border-bottom: 1px solid #E0E3E5;
		object-fit: cover;
	}

	&__text-wrap {
		padding: 30px 15px;
	}
	&__name-wrap {
		margin-bottom: 8px;
	}
	&__name {
		font-size: 20px;
		color: #212121;
		.intro();
		text-decoration: none;
		position: relative;
		z-index: 20;
		.no-touchevents & {
			&:hover {
				color: #02B02A;
			}
		}
	}
	&__country {
		font-size: 15px;
		.regular();
		color: #55B1CC;
		margin-bottom: 11px;
		position: relative;
		padding-left: 18px;
		z-index: 20;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			.svg-icon(icon-city-pin, 9px, 12px);
		}
	}
	&__excursions-list {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: 5px;
	}
	&__excursions-item {
		border: 1px solid #E0E3E5;
		padding: 4px 3px;
		text-decoration: none;
		margin-bottom: 6px;
		margin-right: 5px;
		transition: all .3s ease;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		z-index: 20;
		&:hover {
			border-color: #02B02A;
			background: #02B02A;
			color: white;
		}
	}
	&__excursions-item-count {
		font-size: 12px;
		letter-spacing: -0.3px;
		color: #02B02A;
		.regular();
		transition: all .3s ease;
		.city-item__excursions-item:hover & {
			color: white;
		}
	}
	&__excursions-item-title {
		color: #212121;
		font-size: 12px;
		letter-spacing: -0.3px;
		.regular();
		white-space: nowrap;
		transition: all .3s ease;
		.city-item__excursions-item:hover & {
			color: white;
		}
	}
	&__link-wrap {

	}
	&__link {
		color: #02B02A;
		font-size: 14px;
		letter-spacing: -0.3px;
		.regular();
		text-decoration: none;
		position: relative;
		z-index: 20;
		.no-touchevents & {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__card-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-decoration: none;
		z-index: 10;
		//background: white;

	}
}

@media screen and (min-width: 375px) {
	.city-item {
		&__text-wrap {
			padding: 30px 25px;
		}
		&__excursions-item {
			margin-right: 11px;
		}
	}
}

@media screen and (min-width: 768px) {
	.city-item {
		width: calc(~"(100% - 15px) / 2");
		margin-right: 11px;
		height: 480px;
		&:nth-child(2n) {
			margin-right: 0;
		}

		&__img-wrap {
			max-height: 210px;
		}
		&__picture-img {
			max-height: 210px;
		}

		&__text-wrap {
			padding: 30px 15px 30px 25px;
		}
		&__excursions-list {
			height: 116px;
			overflow: hidden;
			margin-bottom: 15px;
		}
		&__excursions-item {
			padding: 6px 10px;
			margin-bottom: 13px;
			margin-right: 17px;
		}
		&__excursions-item-count {
			font-size: 14px;
		}
		&__excursions-item-title {
			font-size: 14px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.city-item {
		margin-bottom: 20px;
		display: flex;
		height: 210px;
		align-items: flex-start;
		justify-content: flex-start;

		&__picture-img {
			max-height: 100%;
			min-height: 0;
		}
		&__img-wrap {
			width: 120px;

			//max-height: 100%;
		}

		&__text-wrap {
			padding: 24px 10px 10px;
			width: calc(~"100% - 120px");
		}
		&__excursions-list {
			height: 94px;
			margin-bottom: 5px;
		}
		&__excursions-item {
			padding: 4px 3px;
			margin-bottom: 6px;
			margin-right: 5px;
		}
		&__excursions-item-count {
			font-size: 12px;
		}
		&__excursions-item-title {
			font-size: 12px;
		}
	}
}

@media screen and (min-width: 1100px) {
	.city-item {
		width: calc(~"(100% - 20px * 2) / 3");
		margin-right: 16px;
		&:nth-child(2n) {
			margin-right: 16px;
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}