.directions {
	margin-bottom: 70px;

	&__container {

	}
	&__title {
		.title();
		margin-bottom: 40px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #E0E3E5;
		padding-top: 19px;
		margin-bottom: 20px;
	}
	&__item {
		margin-bottom: 17px;
		width: 50%;
	}
	&__item-link {
		color: #02B02A;
		text-decoration: none;
		font-size: 15px;
		position: relative;
		//&:after {
		//	content: '';
		//	position: absolute;
		//	bottom: -2px;
		//	left: 0;
		//	right: 0;
		//	width: 0;
		//	height: 2px;
		//	background: #02B02A;
		//	opacity: 0;
		//	transition: all .3s ease;
		//}
		&:hover {
			/*&:after {
				opacity: 1;
				width: 100%;
			}*/
			text-decoration: underline;
		}
	}

	&__link-wrap {
		display: flex;
		justify-content: center;
	}
	&__link {
		//border: 1px solid #E0E3E5;
		//width: 100%;
		//font-size: 16px;
		//.regular();
		//color: #02B02A;
		//height: 40px;
		//text-decoration: none;
		//display: flex;
		//align-items: center;
		//justify-content: center;
		//transition: all .3s ease;
		//&:hover {
		//	border-color: #02B02A;
		//	background: #02B02A;
		//	color: white;
		//}
	}
}


@media screen and (min-width: 760px) {
	.directions {

		&__list {
			//columns: 3;
		}
		&__item {
			width: 33%;
		}
		&__link-wrap {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__link {
			padding: 0 40px;
			width: auto;
		}
	}
}

@media screen and (min-width: 1024px) {
	.directions {

		//&__list {
		//	columns: 4;
		//}
		&__item {
			width: 25%;
		}
		&__link-wrap {
			display: none;
		}
	}
}

@media screen and (min-width: 1220px) {
	.directions {

		/*&__list {
			columns: 5;
		}*/
		&__item {
			width: 20%;
		}
	}
}

@media screen and (min-width: 1440px) {
	.directions {

		&__list {
			columns: 6;
		}
	}
}