.popular-cities {
	margin-bottom: 60px;

	&__container {

	}
	&__title {
		.title();
		margin-bottom: 35px;
	}
	&__list {

	}
	&__link-wrap {
		display: flex;
		justify-content: center;
	}
	&__link {

	}
}

@media screen and (min-width: 768px) {
	.popular-cities {

		&__list {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

@media screen and (min-width: 1024px) {
	.popular-cities {
		margin-bottom: 50px;

		&__title {
			margin-bottom: 40px;
		}
		&__link-wrap {
			display: none;
		}
	}
}
