.testimonials {
	margin-bottom: 60px;

	&__container {

	}
	&__title {
		.title();
		margin-bottom: 30px;
	}
	&__desc {
		color: #212121;
		font-size: 14px;
		.regular();
		letter-spacing: -0.3px;
		margin-bottom: 25px;
		line-height: 1.4;
	}
	&__main {

	}
	&__select-wrap {
		margin-bottom: 45px;
		overflow: hidden;
		border: 1px solid #E0E3E5;
		height: 64px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 30px;
			.svg-icon(icon-select-caret, 12px, 6px);
			top: 50%;
			margin-top: -3px;
			user-select: none;
		}
	}
	&__select {
		width: 110%;
		height: 64px;
		padding: 0 25px;
		-webkit-appearance: none;
		font-size: 17px;
		.regular();
		background: white;
		border: 0;
		color: #000000;
	}

	&__tabs {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-bottom: 1px solid #E0E3E5;
		margin-bottom: 50px;
		padding-bottom: 8px;
	}
	&__tabs-item {
		color: #212121;
		font-size: 17px;
		.regular();
	}

	&__content {
		margin-bottom: 30px;
	}
	&__content-slider {

	}
	&__content-slider-wrap {
		margin-bottom: 50px;
	}
	&__content-slider-pagination {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__content-slider-pagination-item {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #E0E3E5;
		margin-right: 12px;
		cursor: pointer;
		transition: all .3s ease;
		&:last-child {
			margin-right: 0;
		}
		&_active {
			background: #02B02A;
		}
		&:hover {
			background: #02B02A;
		}
	}

	&__external-links {

		.testimonials__tabs & {
			display: none;
		}
	}
	&__external-links-item {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__external-links-item-icon {
		margin-right: 8px;
	}
	&__external-links-item-text {
		font-size: 17px;
		.regular();
		color: #999999;
		transition: all .3s ease;
		&:hover {
			color: #212121;
		}
	}
}

@media screen and (min-width: 500px) {
	.testimonials {

		&__content-slider-arrow {
			display: block;
			position: absolute;
			top: 95px;

			.svg-icon(icon-form-caret, 12px, 6px);

			&--prev {
				transform: rotate(90deg);
				left: 0;
			}
			&--next {
				right: 0;
				transform: rotate(-90deg);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.testimonials {
		margin-bottom: 60px;


		&__tabs {
			display: flex;
			justify-content: space-between;
		}
		&__external-links {
			display: none;
			.testimonials__tabs & {
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
		}
		&__external-links-item {
			margin-bottom: 0;
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
		&__content {
			margin-bottom: 0;
		}
	}
}

@media screen and (min-width: 769px) {
	.testimonials {

		&__content-slider-arrow {
			display: none;
		}
	}
}

@media screen and (min-width: 1200px) {
	.testimonials {

		&__title {
			margin-bottom: 26px;
		}
		&__desc {
			margin-bottom: 34px;
		}
		&__external-links-item {
			margin-right: 40px;
			font-size: 15px;
		}
		&__tabs-item {
			font-size: 15px;
		}
	}
}