.testimonial {

	&__name {
		font-size: 18px;
		.intro();
		color: #212121;
		padding-left: 47px;
		position: relative;
		margin-bottom: 20px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			.svg-icon(icon-blockquote, 25px, 21px);
		}
	}
	&__title-wrap {
		margin-bottom: 23px;
		display: flex;
		justify-content: flex-start;
	}
	&__title {
		text-decoration: none;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 4px 8px;
		border: 1px solid #E0E3E5;
		transition: all .3s ease;
		.no-touchevents & {
			&:hover {
				border-color: #02B02A;
			}
		}
	}
	&__title-text {
		font-size: 13px;
		.regular();
		letter-spacing: -0.3px;
		color: #212121;
		white-space: nowrap;
	}
	&__desc {
		color: #212121;
		.regular();
		font-size: 14px;
		letter-spacing: -0.3px;
		margin-bottom: 40px;
		line-height: 1.6;
		position: relative;
	}
	&__date {
		color: #999999;
		font-size: 14px;
		letter-spacing: -0.3px;
	}
	&__desc-link-wrap {
		position: absolute;
		left: 0;
		bottom: -25px;
	}
	&__desc-link {
		color: #02B02A;
		font-size: 13px;
		.regular();
		letter-spacing: -0.3px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__content-slider-arrow {
		display: none;
	}
}

@media screen and (min-width: 500px) {
	.testimonial {
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media screen and (min-width: 769px) {
	.testimonial {
		padding-left: 0;
		padding-right: 0;
	}
}