.top-filter {
	background: #FAF8F6;
	padding: 55px 0 70px 0;
	margin-bottom: 60px;

	&__container {

	}
	&__title {
		font-size: 30px;
		text-align: center;
		.intro();
		line-height: 1.2;
		color: #212121;
		margin-bottom: 30px;
	}
	&__title-span {
		color: #55B1CC;
		font-size: 30px;
		.intro();
		line-height: 1.2;
	}

	&__form {
		border: 5px solid #02B02A;
		max-width: 540px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	&__form-main {

	}
	&__form-bottom {

	}
	&__form-input-holder {
		position: relative;
		&--date {
			&:after {
				content: '';
				position: absolute;
				right: 20px;
				top: 50%;
				.svg-icon(icon-form-caret, 11px, 6px);
				margin-top: -3px;
				transition: all .3s ease;
			}
			&:hover {
				&:after {
					.svg-icon-param(icon-form-caret, 11px, 6px, '[fill]: #02B02A');
				}
			}
			&.open {
				&:after {
					transform: rotate(180deg);
					.svg-icon-param(icon-form-caret, 11px, 6px, '[fill]: #02B02A');
				}
			}
		}
	}
	&__form-input {
		height: 64px;
		width: 100%;
		background: white;
		border: 1px solid transparent;
		border-bottom-color: #E7E7E7;
		-webkit-appearance: none;
		border-radius: 0;
		padding: 0 18px;
		font-size: 14px;
		letter-spacing: -0.3px;
		.regular();
		color: #212121;
		transition: all .3s ease;
		&:hover {
			background: #F3FBF3;
		}

		.top-filter__form-input-holder--date & {
			padding: 0 38px 0 18px;

			&:hover {
				border-left-color: #02B02A;
				border-right-color: #02B02A;
				background: white;
			}
			&::-webkit-input-placeholder {
				color: #333333;
				opacity: 1;
			}
			&::-moz-placeholder {
				color: #333333;
				opacity: 1;
			}
			&:-moz-placeholder {
				color: #333333;
				opacity: 1;
			}
			&:-ms-input-placeholder {
				color: #333333;
				opacity: 1;
			}
		}
	}
	&__form-count-holder {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 20px;
			top: 50%;
			.svg-icon(icon-form-caret, 11px, 6px);
			margin-top: -3px;
			transition: all .3s ease;
		}
		&:hover {
			&:after {
				.svg-icon-param(icon-form-caret, 11px, 6px, '[fill]: #02B02A');
			}
		}
		&.open {
			&:after {
				transform: rotate(180deg);
				.svg-icon-param(icon-form-caret, 11px, 6px, '[fill]: #02B02A');
			}
		}
	}
	&__form-count {
		height: 64px;
		width: 100%;
		background: white;
		padding: 0 18px;
		border: 1px solid transparent;
		border-bottom-color: #E7E7E7;
		display: flex;
		align-items: center;
		transition: all .3s ease;
		outline: none;
		&:hover {
			border-left-color: #02B02A;
			border-right-color: #02B02A;
			background: white;
		}
	}
	&__form-count-span {
		font-size: 14px;
		letter-spacing: -0.3px;
		.regular();
		color: #212121;
		margin-right: 5px;
		&:nth-child(2) {
			&:after {
				content: ',';
				font-size: 14px;
				letter-spacing: -0.3px;
				.regular();
				color: #212121;
			}
		}
	}

	&__form-submit-holder {

	}
	&__form-submit {
		background: #4CC667;
		width: 100%;
		padding: 0;
		border: 0;
		-webkit-appearance: none;
		cursor: pointer;
		font-size: 18px;
		.regular();
		color: white;
		height: 65px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .3s ease;
		margin-top: -1px;
		outline: none;
		.no-touchevents & {
			&:hover {
				background: #02B02A;
			}
		}
	}
}

@media screen and (min-width: 375px) {
	.top-filter {
		&__title {
			font-size: 38px;
		}
		&__title-span {
			font-size: 38px;
		}
	}
}

@media screen and (min-width: 768px) {
	.top-filter {
		padding: 63px 0 83px 0;

		&__title {
			margin-bottom: 64px;
		}

		&__form-bottom {
			display: flex;
		}
		&__form-input-holder {

			.top-filter__form-bottom & {
				width: 50%;
				min-width: 50%;
				border-right: 1px solid #E7E7E7;
			}
		}
		&__form-count-holder {
			width: 50%;
			min-width: 50%;
		}
	}
}

@media screen and (min-width: 1200px) {
	.top-filter {
		margin-bottom: 50px;

		&__title {
			margin-bottom: 34px;
		}

		&__form {
			max-width: 100%;
		}
		&__form-container {
			display: flex;
			align-items: center;
		}
		&__form-main {
			display: flex;
			width: calc(~"100% - 176px");
		}
		&__form-bottom {
			width: 50%;
			min-width: 50%;
		}
		&__form-input-holder {

			&--name {
				width: 50%;
				border-right: 1px solid #E7E7E7;
			}
		}

		&__form-submit-holder {
			width: 176px;
			min-width: 176px;
		}
	}
}